$base-color: #c6538c;
$default: #09bc8a;
$chatBackground: #ece5dd;
$warmBlack: #128c7e;
$premium: #25d366;
$premiumItem: #f3c623;
$yankeesBlue: #172a3a;
$steelTeal: #508991;
$magicMint: #128c7e;
$black: #000;
$white: #fff;
$red: red;
